@model FabricaDeDadosWeb.Models.Empresa
@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>
<hr />
<label>Id</label>
@Html.TextBoxFor(m => m.Id) <br />
<label>Cnpj</label>
@Html.TextBoxFor(m => m.Cnpj) <br />
<label>Nome</label>
@Html.TextBoxFor(m => m.Nome) <br />
<label>DataAbertura</label>
@Html.TextBoxFor(m => m.DataAbertura) <br />
<label>DataCadastro</label>
@Html.TextBoxFor(m => m.DataCadastro) <br />
<label>Celular</label> 
@Html.TextBoxFor(m => m.Celular) <br />
<label>Email</label>
@Html.TextBoxFor(m => m.Email) <br />
<label>InscricaoEstadual</label>
@Html.TextBoxFor(m => m.InscricaoEstadual) <br />
<label>Telefone</label>
@Html.TextBoxFor(m => m.Telefone) <br />
<label>WebSite</label>
@Html.TextBoxFor(m => m.WebSite) <br />


