@model FabricaDeDadosWeb.Models.Pessoa
@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<hr />
<label>Id</label>
@Html.TextBoxFor(m => m.Id)
<br />
<hr />
<label>Nome</label>
@Html.TextBoxFor(m => m.Nome)
<br />
<hr />
<label>NomeMae</label>
@Html.TextBoxFor(m => m.NomeMae)
<br />
<hr />
<label>NomePai</label>
@Html.TextBoxFor(m => m.NomePai)
<br />
<hr />
<label>Rg</label>
@Html.TextBoxFor(m => m.Rg)
<br />
<hr />
<label>Sexo</label>
@Html.TextBoxFor(m => m.Sexo)
<br />
<hr />
<label>Telefone</label>
@Html.TextBoxFor(m => m.Telefone)
<br />
<hr />
<label>Celular</label>
@Html.TextBoxFor(m => m.Celular)
<br />
<hr />
<label>Email</label>
@Html.TextBoxFor(m => m.Email)
<br />
<hr />
<label>Cpf</label>
@Html.TextBoxFor(m => m.Cpf)
<br />
<hr />
<label>Data Nascimento</label>
@Html.TextBoxFor(m => m.DataNascimento)
<br />
<hr />
<label>Data Cadastro</label>
@Html.TextBoxFor(m => m.DataCadastro)
<br />