@model FabricaDeDadosWeb.Models.Endereco
@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<hr />
<label>Id</label>
@Html.TextBoxFor(m => m.Id)
<br />
<label>Logradouro</label>
@Html.TextBoxFor(m => m.Logradouro)
<br />
<label>Número</label>
@Html.TextBoxFor(m => m.Numero)
<br />
<label>Bairro</label>
@Html.TextBoxFor(m => m.Bairro)
<br />
<label>Cep</label>
@Html.TextBoxFor(m => m.Cep)
<br />
<label>Cidade</label>
@Html.TextBoxFor(m => m.Municipio1.Nome)
<br />
<label>Estado</label>
@Html.TextBoxFor(m => m.Municipio1.Estado.Nome)
<br />
<label>Região</label>
@Html.TextBoxFor(m => m.Municipio1.Estado.Regiao.Nome)
<br />
